* {
  box-sizing: border-box;
}

body {
  width: 80vw;
  height: 90vh;
  margin: auto;
  text-align: center;
  background-color: antiquewhite;
  margin-top: 20px;
}

h2 {
  background-color: black;
  color: white;
  width: 290px;
  /* margin-left: 35%; */
  border-radius: 10%;
}

p {
  font-family: monospace;
  font-size: 22px;
}

button {
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 10%;
  width: 100px;
}

/* .pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  width: 100px;
} */

/* button {
  outline: none;
}
button:focus-visible {
  outline: revert;
} */
